html {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
}

.img-pages {
    height: 600px !important;
    padding: 20px;
}

h2{
    color: #666;
}

.home-content{
    padding-top: 100px;
}

.plx{
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
