html {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
}

.img-pages {
    height: 600px !important;
    padding: 20px;
}

h2{
    color: #666;
}

.home-content{
    padding: 20px;
    padding-top: 100px;
}

.plx{
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-text{
    left: 180px;
    top: 500px;
    color: white;
    position: relative;
    font-size: 50px;
    font-weight: 800;
    opacity: 1;
}

.brand-text:hover{
    opacity: 0.5;
}

a:hover{
    text-decoration: none;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}